<h1>List of books 📚</h1>
<p>current user : <%= current_user.email %></p>

<p><a href="<%= new_book_path %>">Create</a> a new book ?</p>
<%= paginate @books %>
<ul>
  <% @books.each do |book| %>
    <li>
      <a href="<%= book_path(book) %>"><%= book.name %></a>
      <%= book.reviews.any? ?
        + book.reviews.average('star').to_s + ' stars'
      : 'no reviews' %>
    </li>
  <% end %>
</ul>

<%= button_to "Log out", destroy_user_session_path, :method => :delete %>
